
.home-body{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 19px;
    padding-left: 199px;
    /* padding-top: 50px; */
    
    
}
@media (max-width: 600px) {
  .home-body {
    padding-left: 0; /* Remove left padding */
  }
}


